// imports
@import url("https://fonts.googleapis.com/css?family=Alegreya|Arbutus+Slab|Corben");
@import "src/styles/breakpoints";
@import './variables.scss';
@import './keyframes.scss';

// selectors
body {
  font-family: $p-font;
  height: 100%;
  position: absolute;
  .background {
    height: 1000px;
    position: fixed;
    left: 0;
    right: 0;
    background-image: url("../images/bookshelf.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: blur(5px);
    z-index: -1;
  }

  @import './header.scss';

  #main-content {
    .home-content {
      display: flex;
      flex-direction: column;
      margin: 2% 10%;
      #main {
        background-image: $secondary-color;
        position: relative;
        border-radius: 10px;
        display: flex;
        justify-content: space-around;

        .loading-text {
          position: absolute;
          text-align: center;
          font-size: 32px;
          margin: 100px 100px 0 100px;
        }

        .card {
          animation: 1s ease-out 0s 1 slideInFromLeft;
          min-width: 300px;
          cursor: pointer;
          padding: 6px;
          margin: 30px;
          border-radius: 6px;
          box-shadow: 9px 10px 26px -1px rgba(102, 102, 102, 0.62);
          @include media-breakpoint-up(md) {
            margin: 12px;
          }
          &:hover {
            filter: brightness(110%);
          }
          &:active {
            filter: brightness(90%);
          }
          .book-image {
            overflow: hidden;
            img {
              border-radius: 6px;
              width: 120%;
              height: 130%;
            }
          }
          p {
            text-align: justify;
          }
        }
      }
    }
  }
  .footer {
    position: relative;
    max-height: 100px;
    background-color: rgba(0, 0, 0, 0.6);
    p {
      color: white;
      strong {
        color: white;
      }
    }
  }
  #side {
    display: flex;
    margin: 30px 0;
    .box {
      cursor: pointer;
      max-height: 70px;
      margin-right: 20px;
      &:hover {
        filter: brightness(90%);
      }
      &:active {
        filter: brightness(110%);
      }
      .media {
        .media-left {
          font-size: 24px;
        }
        .media-content {
          font-size: 24px;
        }
      }
    }
    .link-button {
      width: 70px;
      height: 70px;
      padding: 5px;
      background-image: url("../images/github-mark.png");
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
  .review.content {
    display: flex;
    flex-direction: column;
    margin: 2% 10%;
    .review {
      padding: 0px;
      .card {
        border-radius: 10px;
      }
      .review-text {
        padding: 18px 24px;
        text-align: justify;
      }
    }
    .tabs {
      ul {
        margin: 0;
      }
    }
  }
}
