// imports
@import url("https://fonts.googleapis.com/css?family=Alegreya|Arbutus+Slab|Corben");
@import "src/styles/breakpoints";
@import "./variables.scss";
@import "./keyframes.scss";

// selectors
body {
  font-family: $p-font;
  position: absolute;

  #app {
    width: 100%;
    background-image: linear-gradient(to right bottom, #a9b9cf, #afbed3, #b5c3d7, #bbc8dc, #c1cde0);
    
    #switch {
      border-radius: 30px;
      background-color: white;
      @include media-breakpoint-up(md) {
        margin: 0 50px;
      }
      margin: 0;
    }
  }

  @import './header/header.scss';
  @import './home/home-page.scss';
  @import './review/review-page.scss';
  @import './registration/registration-page.scss';

  .footer {
    position: relative;
    max-height: 100px;
    background-color: rgba(0, 0, 0, 0.6);
    p {
      color: white;
      strong {
        color: white;
      }
    }
  }

}

@import './common.scss';
