$primary-color: rgba(66, 66, 66, 0.8);
$secondary-color: radial-gradient(
  circle,
  #e8e8e8,
  #ececec,
  #f0f0f0,
  #f5f5f5,
  #f9f9f9
);

$title-font: "Corben", cursive;
$p-font: "Arbutus Slab", serif;
$my-blue: rgb(61, 132, 187);