.header-wrapper {
  header {
    background: url("../images/treebook-cropped.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    @include media-breakpoint-up(md) {
      min-height: 800px;
    }
    min-height: 300px;
  }
  .hero {
    .hero-body {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      .title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        h1 {
          font-size: 32px;
          font-family: $title-font;

          @include media-breakpoint-up(md) {
            font-size: 120px;
            font-weight: 500;
          }
        }
        h2 {
          font-size: 16px;
          @include media-breakpoint-up(md) {
            font-size: 60px;
          }
        }
      }
    }
  }
  @import "./sidebar.scss";
}
