.header-wrapper {
  header {
    background: url("../images/treebook-cropped.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    @include media-breakpoint-up(md) {
      min-height: 800px;
    }
    min-height: 500px;
  }
  .hero {
    .hero-body {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      .title {
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        h1 {
          font-size: 40px;
          text-align: center;
          font-family: $title-font;

          @include media-breakpoint-up(md) {
            font-size: 120px;
            font-weight: 500;
          }
        }
        h2 {
          font-size: 24px;
          text-align: center;
          @include media-breakpoint-up(md) {
            font-size: 80px;
          }
        }
      }
    }
  }
  @import "./sidebar.scss";
}
