#side {
  position: relative;
  background-color: rgb(61, 132, 187);
  display: flex;
  align-items: center;
  height: 60px;
  .left-panel {
    position: absolute;
    left: 0;
    .box {
      cursor: pointer;
      margin: 0;
      padding: 0;
      background: none;
      border: none;
      color: white;
      box-shadow: unset;
      &:hover {
        filter: brightness(90%);
      }
      &:active {
        filter: brightness(110%);
      }
      .media {
        padding-left: 20px;
        .media-left {
          font-size: 20px;
          @include media-breakpoint-up(md) {
            font-size: 32px;
          }
        }
        .media-content {
          font-size: 20px;
          @include media-breakpoint-up(md) {
            font-size: 32px;
          }
        }
      }
    }
  }
  .right-panel {
    position: absolute;
    height: 100%;
    right: 0;
    margin-right: 5px;
    display: flex;
    align-items: center;
    a {
      height: 30px;
      width: 30px;
      display: block;
      background-color: rgb(240, 228, 228);
      border-radius: 50px;
      &:hover {
        background-color: white;
      }
      &:active {
        background-color: rgb(207, 190, 190);
      }
      
      .link-button {
        height: 100%;
        width: 30px;
        padding: 0;
        background-color: unset;
        background-image: url("../images/github-mark.png");
        background-repeat: no-repeat;
        background-size: 30px;
        background-position: center;
        box-shadow: unset;
      }
    }
  }
}
