#side {
  position: relative;
  background-color: rgb(61, 132, 187);
  display: flex;
  align-items: center;
  height: 100px;
  .left-panel {
    position: absolute;
    left: 0;
    .box {
      cursor: pointer;
      margin: 0;
      background: none;
      border: none;
      color: white;
      box-shadow: unset;
      &:hover {
        filter: brightness(90%);
      }
      &:active {
        filter: brightness(110%);
      }
      .media {
        padding-left: 20px;
        .media-left {
          font-size: 20px;
          @include media-breakpoint-up(md) {
            font-size: 32px;
          }
        }
        .media-content {
          font-size: 20px;
          @include media-breakpoint-up(md) {
            font-size: 32px;
          }
        }
      }
    }
  }
  .right-panel {
    position: absolute;
    right: 0;
    a {
      height: 100px;
      margin-top: 10px;
      display: block;
      .link-button {
        width: 90px;
        height: 100%;
        background-color: unset;
        background-image: url("../images/github-mark.png");
        background-repeat: no-repeat;
        background-size: contain;
        border: none;
        border-radius: 0;
        box-shadow: unset;
      }
    }
  }
}
