#registration-page {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .registration-title {
    text-align: center;
    margin: 20px;
  }

  #registration-sheet {
    background-color: white;
    min-height: 250px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 5%;

    @include media-breakpoint-up(md) {
      margin: 10%;
      border-radius: 20px;
    }

    input {
      width: 350px;
    }
  }
}
